*{
    padding: 0; 
    margin: 0;
    border: 0;
  }
  *,*::before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  
  nav,footer,header,aside{display: block;}
  
  html,body{
    height: 100%;
    /* width: 100%; */
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,button,textarea{font-family: inherit;}
  
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding: 0;border: 0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  
  h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
  /*------------------------------------*/
  body{
      background-color: #fafafa;
  }
  .wrapper{
      min-height: 100%;
      overflow: hidden;
      font-family: montserrat;
      color: #252B42;
      display: flex;
      flex-direction: column;
  }
  ._container{
      max-width: 1046px;
      margin: 0 auto;
      
      font-size: 14px;
      font-weight: 500;
      padding: 0px 15px;
      box-sizing: content-box;        /*-------адаптив */

  }
  ._ibg{
      position: relative;
  }
  ._ibg img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
  }

/* ---------------------------------шапка--------------------------- */
  .header {
  
      width: 100%;
      left: 0;
      top: 0;
      z-index: 50;
      
      
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header__menu {
    margin: 0px 0px 0px 133px;
   
}
@media (max-width:992px){
    .header__menu{
        margin: 0px 0px 0px 80px;
    }
}
@media (max-width:767px){
    .header__menu{
        margin: 0px 0px 0px 50px;
    }
}
@media (max-width:479px){
    .header__menu{
        margin: 0px 0px 0px 20px;
    }
}
.menu {
    padding: 5px 0 ;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item {

}
.menu__item:not(:last-child) {         /*----------кроме последнего*/
margin: 0px 21px 0px 0px;
}
.menu__link {
    color: #737373;
    line-height: calc(24/14*100%);               /*--------172% от шрифта*/
    font-weight: 600;
}
.menu__link:hover{
    color: #0D5C63;
}
@media (max-width:479px){
    .menu__link{
        font-size: 18px;
    }
}


/* --------------------------------page--------------------------- */
.page{
 flex: 1 1 auto;

}
.page__main-block {

}
.page__services {
    margin: -111px 0px 0px 0px;
    position: relative;
    z-index: 2;
}
.page__advantages {

}
.page__practice {
    
}

/* ---------------------------------футер--------------------------- */
.footer{

}

/* ----------------------------------header------------------------ */
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}
.header-block__title {
    font-size: 40px;
    line-height: 1.43;
    font-weight: 700;
}
.header-block__title:not(:last-child){
    margin-bottom: 10px;
}
.header-block__sub-title {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;
    color: #737373;
    
}
@media (max-width: 992px) {
    .header-block__title {
        font-size: 30px;
    }
}


/* --------------------------------main-block--------------------------- */

.main-block {
    position: relative;
}
.main-block__container {
}
._container {
}
.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 550px;
    
}
@media (max-width: 992px) {
    .main-block__body {
padding: 120px 0px 191px 0px;
}
}
.main-block__body > *:not(:last-child){          /*----------к первому уровню, а звездочка значит любой тег*/
    margin: 0px 0px 35px 0px;
}
.main-block__title {
    font-size: 58px;
    line-height: calc(80/58*100%);
    font-weight: 800;
}
@media (max-width: 400px) {
    .main-block__title {
        font-size: 40px;
    }
}
.main-block__text {
    font-size: 28px;
    line-height: calc(30/20*100%);
}
.main-block__buttons {
    display: inline-flex;

    flex-wrap: wrap;
  
 
  
}
.main-block__button {
  
border-radius: 37px;
display: flex;
justify-content: center;
align-items: center;
padding: 5px 36px;
min-height: 48px;
letter-spacing: 0.2px;
text-align: center;
font-weight: 700;
line-height: calc(28/14*100%);
margin: 10px 0;



}
@media (max-width: 479px) {
    .main-block__button{
        flex: 1 1 auto;
    }
    .main-block__button:not(:last-child){
        min-width: 100%;}
}
.main-block__button:not(:last-child){
   margin-right: 10px;
    
    
    
}
.main-block__button_orange{
    background: #FF7B47;
    color: aliceblue;
 
}
.main-block__button_border{
    background: #0D5C63;
    color: aliceblue;
}
.main-block__button_orange:hover{
    background-color: transparent;
    outline: 1px solid #FF7B47;
    color: #FF7B47;
}
.main-block__button_border:hover{
    background-color: transparent;
    outline: 1px solid #0D5C63;
    color: #0D5C63;
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.main-block__image img{
    object-position: right;
}
@media (max-width: 992px) {
    .main-block__image{
        opacity: 0.5;
    }
}
/*  */
.services {

}
.services__container {
}
.services__body {
    
   
    
}
@media (min-width: 670px) {
.services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px -30px;

}
}
.services__column {
    padding: 0px 15px;
    flex: 0 1 33.333%;
    margin: 0px 0px 30px 0px;
    

}
@media (min-width: 670px) {
    .services__column{
        padding: 0px 15px;
    }
}
@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
        padding-bottom: 30px;
    }
    .services__column:last-child{
        flex:1 1 100%;
    }
}
.services__item {
    
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #FFFFFF;
    padding: 35px;
    height: 100%;
    

}
.item-service {
  
}
.item-service_green{

}
.item-service_green .item-service__title{
    
}
.item-service_green .item-service__text{
    
}
.item-service> *:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.item-service__icon img {
   
}


.item-service__title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32/24*100%);
}
.item-service text {
    font-weight: 500;
    color: #737373;
    font-size: 14px;
    line-height: 1.43;
    

}

/* ------------------------------ */

.advantages {
    padding-top: 80px;
    
    
}
@media (max-width: 992px) {
    .advantages {
        padding: 50px;
        
    }

}
@media (max-width: 767px) {
    .advantages {
        padding: 30px;
        
    }

}
.advantages__container {
 
}

.advantages__header {

    margin-bottom: 50px;
}

.advantages__body {
    display: flex;
   text-align: center;
   margin: 0 -15px;
   flex-wrap: wrap;
}
.advantages__colomn {
    flex: 0 1 25%;
    padding: 0px 15px;
    margin-bottom: 80px;
}
@media (max-width: 1000px) {
    .advantages__colomn{
        flex: 0 1 50%;
        margin-bottom: 15px;  
    } 
@media (max-width: 540px){
    .advantages__colomn{
        flex: 0 1 100%;
    }
}

}
.advantages__item {
    background-color: #FFFFFF;
    padding: 30px;
}
.advantages__logo {
}
.advantages__item> *:not(:last-child){
    margin-bottom: 10px;
}
.advantages_value {
    font-weight:700;
    font-size: 40px;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #252B42;
}
.advantages__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #737373;
}
/* --------------------------------------------------practice--------------------------- */

.practice {
    padding: 125px 0px 125px 0px;
}
@media (max-width: 1030px) {
    .practice{
        padding: 80px 0px 80px 0px;
    }
 } 
.practice__container {
}

.practice__header {
    margin: 0px 0px 45px 0px;
}
.practice__body {
    margin: 0px -20px -30px ;
  display: flex;
  flex-wrap: wrap;
}
.practice__colomn {
 flex: 0 1 25%;
    padding: 0 20px;
    margin: 0px 0px 30px 0px;
    
}
@media (max-width: 1030px) {
    .practice__colomn {
        flex: 0 1 50%;}
 } 
  @media (max-width: 630px) {
    .practice__colomn {
        flex: 0 1 100%;}
  }

.practice__item {
}
.item-practice {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.item-practice__content{
padding: 30px 5px 30px 5px;
flex: 1 1 auto;
}
.item-practice__link {
    display: inline-block;
    color: inherit;
    
}
.item-practice__link:hover{
    text-decoration: underline;
}
.item-practice__link:not(:last-child){
    margin: 0px 0px 15px 0px;
}
.item-practice__title {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}
.item-practice__text {
    color:#737373;
    line-height: 143%;

}
.item-practice__image {
    display: block;
padding: 0px 0px 60% 0px;
}


footer{
    background-color: white;
  }
  .footer_consulting {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #252b42;
  }
  .text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.2px;
    color: #737373;
  }
  @media (max-width: 695px) {
    .footer_consulting_btn{
        margin-top: 40px;
        flex: 1 1 100%
    }

  }
  .footer_consulting_btn{
    height: auto;
    
  }
  .footer_consulting_btn a {
      width: 100%;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: #ff7b47;
    padding: 15px 30px;
    border-radius: 5px;
  }
  .with3 {
    background-color: #17213c;
  }
  .footer__blue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    padding: 50px 20px;
  }
  .footer__blue_cont{
    display: flex;
    flex-direction: column;
  }
  .footer__blue_cont a {
    color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.2px;
    padding: 5px ;
    align-items: center;
    display: flex;
  }
  .cont_title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #fff;
    margin-bottom: 10px;
  }
  .beforeicon1::before {
    content: url('../img/fourths_icons/mobile_2.png');
    margin: 0px 10px 0px 0px;
  }
  .beforeicon2::before {
    content: url('../img/fourths_icons/map.png');
    margin: 0px 10px 0px 0px;
  }
  .beforeicon3::before {
    content: url('../img/fourths_icons/send.png');
    margin: 0px 10px 0px 0px;
  }
  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .footer__social_cont1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    letter-spacing: 0.2px;
    color: #737373;
   }
  .footer__social_cont2 img{
    margin: 10px;
  }
